
<!DOCTYPE html>
<html lang="ja">
    <head>
        <style>
            img{width:95% ;max-width: 1000px;}
            p{font-size: xx-large;}
            
        </style>
    </head>
<body>
    <p>自分のグループを登録してください。cookieの許可について通知が来た場合は許可してください</p>
<form action="/regist-group-post" method="POST">
    <select name="group"size="9"style="width: 500px;font-size: xx-large;">
    <option value="" selected>班を選択してください</option>
    <option value="A">A班</option>
    <option value="B">B班</option>
    <option value="C">C班</option>
    <option value="D">D班</option>
    <option value="E">E班</option>
    <option value="F">F班</option>
    <option value="G">G班</option>
    <option value="H">H班</option>
    </select>
     <button type="submit"style="width: 500px;height: 100px;font-size: xx-large;">登録</button>
</form>

    
</body>
</html>