
<!DOCTYPE html>
<html lang="ja">
    <head>
        <link rel="icon" type="favicon.png" href="static_data/webicon.png">
        <style>
            img{width:95% ;max-width: 1000px;}
            p{font-size: xx-large;}
            
        </style>
    </head>
<body>
    <p>自分のグループを登録してください。cookieの許可について通知が来た場合は許可してください</p>
<form action="/regist-group-post" method="POST">
    <select name="group"size="9"style="width: 500px;font-size: xx-large;">
    <option value="A"selected>A班</option>
    <option value="B">B班</option>
    <option value="C">C班</option>
    <option value="D">D班</option>
    <option value="E">E班</option>
    <option value="F">F班</option>
    <option value="G">G班</option>
    <option value="H">H班</option>
    <option value="I">I班</option>
    <option value="J">J班</option>
    <option value="K">K班</option>
    <option value="L">L班</option>
    <option value="M">M班</option>
    <option value="N">N班</option>
    <option value="O">O班</option>
    <option value="P">P班</option>
    <option value="Q">Q班</option>
    <option value="R">R班</option>
    <option value="S">S班</option>
    <option value="T">T班</option>
    <option value="U">U班</option>
    </select>
     <button type="submit"style="width: 500px;height: 100px;font-size: xx-large;">登録</button>
</form>

    
</body>
</html>